<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rainbow.mapper.StudentMapper">

<cache/>
    <select id="list" resultMap="test">
    SELECT * FROM student
</select>

    <insert id="save" parameterType="student">
        insert into student(sno,sname,ssex,sbirthday,sclass,searchKey)
        VALUES (#{sno},#{sname},#{ssex},#{sbirthday},#{sclass},#{searchKey})
    </insert>

    <delete id="delBySno" parameterType="java.lang.String">
        DELETE  FROM student
        where sno=#{sno}
    </delete>

    <update id="update" parameterType="student">
        UPDATE student
        <set>
            <if test="entity.sname!=null">sname=#{entity.sname},</if>
            <if test="entity.sclass!=null">sclass=#{entity.sclass},</if>
            <if test="entity.ssex!=null">ssex=#{entity.ssex}</if>
        </set>
        where sno=#{entity.sno}
    </update>

    <resultMap id="test" type="student"/>

    <select id="findByQueryMap" parameterType="map" resultType="student">
        SELECT * from student
        WHERE
        <if test="sno!=null">sno LIKE CONNECT ('%',#{sno},'%')</if>
        <if test="sname!=null">and sname LIKE #{sname}</if>
        <if test="sclass!=null">and sclass LIKE #{sclass}</if>
        <if test="ssex!=null">and ssex LIKE #{ssex}</if>
    </select>
</mapper>